DEFAULT_DOMAIN=example.com
IS_HTTPS_ENABLED=false
CREATING_SHORT_URL_END_POINT=http://shlink:8080/rest/v3/short-urls
INITIAL_API_KEY=hoge
MYSQL_ROOT_PASSWORD=fuga
API_LISTEN_PORT=3340
DATABASE_URL=mysql://root:fuga@db:3306/estimate_pc
FRONT_FQDN=long.example.com
SHORT_FQDN=example.com
SHOULD_INITIAL_SCRAPING=0